@using DAL.Data.Entities
@model ApplicationUser

<li class="">
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="~/images/shared/avatar/@Model.Avatar" alt=""> @Model.Name
        <span class=" fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
        <li><a href="javascript:;"> Thông tin cá nhân</a></li>
        @*
            <li>
                <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                </a>
            </li>*@
        <li><a href="javascript:;"> Trợ giúp</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">Đăng xuất</a></li>
    </ul>
</li>