
<link href="~/css/client/home/search_style.css" rel="stylesheet" />

    <div class="input-group">
        <form asp-page="/product/index" method="get">
            <input type="text" name="searchstring" class="form-control" placeholder="Nhập tên sản phẩm">
        </form>
    </div>
