@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/home-site/css/search_style.css" rel="stylesheet" />*@
<link href="~/home-site/css/search_style.css" rel="stylesheet" />

    <div class="input-group">
        <form asp-page="/product/_index" method="get">
            <input type="text" name="searchstring" class="form-control" placeholder="Nhập tên sản phẩm">
        </form>
    </div>

<script src="~/home-site/js/search_script.js"></script>
