
@using DAL.Data.Entities
@using DAL.Models
@model IEnumerable<DAL.Data.Entities.Category>
<!--menu-bar-->
<link href="/home-site/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/home-site/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/home-site/css/style4.css" rel="stylesheet" type="text/css" media="all" />

<link href="~/menu-site/css/menu.css" rel="stylesheet" />


<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">

    <ul class="nav navbar-nav nav_1">

        <li class="dropdown mega-dropdown active">
            <a class="color1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Danh mục<span class="caret"></span>
            </a>
            <div class="dropdown-content">
                <ul>
                    @foreach (Category item in Model)
                    {
                        <li style="display:block;">
                            <a class="color1" asp-page="/Product/Index" asp-page-handler="Category" asp-route-categoryId="@item.Id">@item.Name</a>
                        </li>
                    }
                </ul>
                <a href="#">Link 1</a>
                <a href="#">
                    Link 2< /a>
                    <a href="#">Link 3</a>
            </div>
        </li>


        @*<li><a class="color" href="#">Giới thiệu</a></li>
            <li><a class="color" href="#">Liên hệ</a></li>
            <li><a class="color" href="#">Tin tức</a></li>
            <li><a class="color" href="#">Tuyển dụng</a></li>*@

        <!--Search bar-->
        <li>
            
        </li>

        <!--End-Search bar-->

    </ul>
</div>

