.parsley-errors-list {
    margin: 2px 0 20px;
}

.context-menu-category {
    width: 120px;
}

.dv-bg-loading {
    background-color: #FFFFFF;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
    width: 100%;
    display: none;
}

.dv-loading {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100000000;
    width: 100%;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed #5d9aec;
    border-image: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 120px;
}

#dzUpload {
    padding: 5px 20px !important;
}

.dropzone .dz-preview {
    margin-top: unset !important;
    margin-bottom: unset !important;
}

    .dropzone .dz-preview .dz-image {
        width: 80px !important;
        height: 80px !important;
    }

        .dropzone .dz-preview .dz-image > img {
            width: 100%;
            height: 100%;
        }

    .dropzone .dz-preview .dz-details {
        height: 80px !important;
    }

    .dropzone .dz-preview .dz-size {
        margin-bottom: unset !important;
        font-size: unset !important;
    }

.page-title .title_left {
    width: auto;
}

.page-title .title_right {
    width: auto;
}

.order-info {
    font-weight: normal !important;
}

.div__img--center {
    text-align: center;
}
