@using DAL.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown nav navbar-nav navbar-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown-user">
            Tài khoản @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Name
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Quản lý tài khoản</a></li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})" title="Logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="header-login">
        <ul class="col-sm-2 col-md-offset-2 navbar-right">
            <li><a asp-area="Identity" asp-page="/Account/Register">Đăng ký</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a></li>
        </ul>
    </div>
}
