@model IEnumerable<DAL.Data.Entities.Item>
@using Utilities.Commons
@using OnlineStore.ViewComponents;

@if (Model != null)
{
    var newitems = Model.OrderByDescending(x => x.DateCreated);

    @foreach (var item in newitems.Take(9))
    {
        <div class="product-item">
            <div class="item-inner">
                <div class="icon-new-label new-right">Mới</div>
                <div class="product-thumbnail">
                    <div class="pr-img-area img-height-250 zoomindex">
                        @if (item.ProductImages.Count() != 0)
                        {
                            bool valid = false;
                            foreach (var _item in item.ProductImages)
                            {
                                if (_item.IsDeleted == false)
                                {
                                    <a title=@item.Name href="~/Product/Detail?id=@item.Id">
                                        <figure>
                                            <img class="zoomindex first-img" src="~/images/client/ProductImages/@_item.Name" alt="@item.Name" />
                                        </figure>
                                    </a>
                                    valid = true;
                                    break;
                                }
                            }
                            if (valid == false)
                            {
                                <a title=@item.Name href="~/Product/Detail?id=@item.Id">
                                    <figure>
                                        <img class="first-img" src="~/images/client/ProductImages/no-image.jpg" alt="Hình ảnh" />
                                    </figure>
                                </a>
                            }


                        }
                        else
                        {
                            <a title=@item.Name href="~/Product/Detail?id=@item.Id">
                                <figure>
                                    <img class="first-img" src="~/images/client/ProductImages/no-image.jpg" alt="Hình ảnh" />
                                </figure>
                            </a>
                        }
                    </div>
                    <div class="pr-info-area">
                        <div class="pr-button">
                            <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                            <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-link"></i> </a> </div>
                            <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <div class="info-inner">
                        <div class="item-title"> <a title=@item.Name href="~/Product/Detail?id=@item.Id">@item.Name </a> </div>
                        <div class="item-content">
                            @*<div class="rating">
                        @await Component.InvokeAsync("EvaluationStarPartial")
                    </div>*@
                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                            @*<div class="rateit" data-rateit-value=@Html.Raw() data-rateit-readonly="true"> </div>*@

                            <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">@CommonFunctions.FormatNumber(item.Price, 0)&#8363;</span> </span> </div>
                            </div>
                            @*<div class="pro-action">
                                <button data-id="@item.Id" type="button" class="add-to-cart addtocart-layout"><span>Thêm vào giỏ hàng</span> </button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else {
}