@page
@model OnlineStore.Areas.Admin.Pages.Category.IndexModel
@{

}

@section Styles{
    <link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>
    <!--Đối với các file có khả năng thay đổi, nên thêm vào asp-append-version=true để bypass cache các file này-->
    <script src="~/js/admin/category.js" asp-append-version="true"></script>
    <script>
        category.init();
    </script>
}

<form method="post">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách các loại sản phẩm</h3>
        </div>

        <div class="title_right">
            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right">
                <button class="btn btn-success" id="btnCreate" type="button">Tạo mới</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <ul id="treeProductCategory"></ul>
                    <div id="contextMenu" class="easyui-menu context-menu-category">
                        <div id="btnEdit" data-options="iconCls:'icon-edit'">Sửa</div>
                        <div id="btnDelete" data-options="iconCls:'icon-remove'">Xoá</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<partial name="_CategoryManagementModal" />