.input-group {
    margin-top: 15px;
    width: 80%;
    align-content: center;
}
    /*.input-group.fix {
        left: 0;
        max-width: 100%;
        overflow: visible;
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

.fix {
    background: rgba(126, 61, 61, 0.27);
    margin-top: 0px;
    left: 0;
    max-width: 75%;
    overflow: visible;
    position: fixed center !important;
    top: 0;
    width: 50% !important;
    z-index: 1000;
    margin-left: 25%;
}*/

.head-top.fix {
    left: 0;
    max-width: 100%;
    overflow: visible;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.fix {
    /*background: rgba(126, 61, 61, 0.27);*/
    background: #f2f3f7;
    margin-top: 0px;
    left: 0;
    overflow: visible;
    position: fixed center !important;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 2px 2px #888888;
}
