@page
@using DAL.Models
@model OnlineStore.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Layout/_HomeLayout.cshtml";
}

<div class="product">
    <div class="container">
        <div class="col-md-3 product-price">
            <div class=" rsidebar span_1_of_left">
                <div class="of-left">
                    <h3 class="cate">Lọc sản phẩm</h3>
                </div>
                <ul class="menu">
                    <h4>Thương hiệu</h4>
                    @foreach (var item in Model.Items.GroupBy(i => i.BrandName))
                    {
                        <li><input type="checkbox" />@item.Key</li>
                    }
                </ul>
                <ul class="cute">
                    @*<input id="input-21e" value="2" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs"
                        title="" disabled="true">*@
                    <input id="input-21e" value="2" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs"
                           title="" disabled="true">
                    @*<input type="hidden" class="rating" disabled="disabled" value="5" />
                        <input type="hidden" class="rating" disabled="disabled" value="4" />
                        <input type="hidden" class="rating" disabled="disabled" value="3" />
                        <input type="hidden" class="rating" disabled="disabled" value="2" />
                        <input type="hidden" class="rating" disabled="disabled" value="1" />*@
                    @*<input type="hidden" class="rating" disabled="disabled" value="5" />
                        <input type="hidden" class="rating" disabled="disabled" value="4" />
                        <input type="hidden" class="rating" disabled="disabled" value="3" />
                        <input type="hidden" class="rating" disabled="disabled" value="2" />
                        <input type="hidden" class="rating" disabled="disabled" value="1" />*@
                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                        menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });
                });
            </script>
            <div class="product-middle">
                <div class="fit-top">
                    <h6 class="shop-top"></h6>
                    <a href="single.html" class="shop-now"></a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="sellers">
                <div class="of-left-in">
                    <h3 class="tag"></h3>
                </div>
                <div class="tags">
                </div>
            </div>
            <div class="product-bottom">
                <div class="of-left-in">
                    <h3 class="best"></h3>
                </div>
                <div class="product-go">
                    <div class=" fashion-grid">
                        <a href="single.html"><img class="img-responsive " src="images/p1.jpg" alt=""></a>

                    </div>
                    <div class=" fashion-grid1">
                        <h6 class="best2">
                            <a href="single.html">
                            </a>
                        </h6>

                        <span class=" price-in1"></span>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="product-go">
                    <div class=" fashion-grid">
                        <a href="single.html"><img class="img-responsive " src="images/p2.jpg" alt=""></a>

                    </div>
                    <div class="fashion-grid1">
                        <h6 class="best2">
                            <a href="single.html">
                            </a>
                        </h6>
                        <span class=" price-in1"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9 product1">
            <div class="col-md-offset-9">
                Sắp xếp theo: <select asp-for="CurrentSort" asp-items="Html.GetEnumSelectList<SortType>()" onchange="sortProduct()"></select>
            </div>
            <input type="hidden" asp-for="CurrentPage" />
            <div class="bottom-product">
                @await Html.PartialAsync("_SearchResultGridPartial", Model.Items)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        jQuery.ajaxSettings.traditional = true;
        var listBrandName = [];

        function sortProduct() {
            $('#CurrentPage').val(1);
            $.ajax({
                type: "GET",
                url: "/Product/Index?handler=Search",
                data: {
                    "currentSearchString": "@Model.CurrentSearchString",
                    "currentSort": $('#CurrentSort option:selected').val(),
                    "currentBrand": listBrandName
                }
            }).done(function(result) {
                $(".bottom-product").html(result);
            }).fail(function(result) {
                console.log(result);
            });
        }

        $("input[type=checkbox]").change(function() {
            var brand = $(this).closest("li").text();
            $('#CurrentPage').val(1);
            if (this.checked) {
                listBrandName.push(brand);
            } else {
                listBrandName.splice(listBrandName.indexOf(brand, 1));
            }
            $.ajax({
                type: "GET",
                url: "/Product/Index?handler=Search",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                cache: false,
                data: {
                    "currentSearchString": "@Model.CurrentSearchString",
                    "currentSort": $('#CurrentSort option:selected').val(),
                    "currentBrand": listBrandName
                }
            }).done(function(result) {
                $(".bottom-product").empty();
                $(".bottom-product").html(result);
            }).fail(function(result) {
                console.log(result);
            });
        });

        function loadPage(currentPage) {
            $.ajax({
                type: "GET",
                url: "/Product/Index?handler=Search",
                data: {
                    "currentSearchString": "@Model.CurrentSearchString",
                    "currentSort": $('#CurrentSort option:selected').val(),
                    "currentBrand": listBrandName,
                    "currentPage": currentPage
                }
            }).done(function(result) {
                $(".bottom-product").html(result);
                $('#CurrentPage').val(currentPage);
            }).fail(function(result) {
                console.log(result);
            });

        }

        $(document).on('click',
            '#btnPrevious',
            function() {
                loadPage(Number($('#CurrentPage').val()) - 1);
            });

        $(document).on('click',
            '#btnNext',
            function() {
                loadPage(Number($('#CurrentPage').val()) + 1);
            });
    </script>
}
