@page
@using DAL.Data.Enums
@using DAL.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model OnlineStore.Pages.Product.SearchModel
@{
    ViewData["Title"] = "SearchResult";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    var cus = await UserManager.GetUserAsync(HttpContext.User);
}

@section Scripts{

    <script src="~/js/client/product/search.js"></script>
    <script>
        $(document).ready(function () {
            search.init();
        });
    </script>
}

@section Styles{
}

<input type="hidden" id="search-string" value="@Model.SearchProductViewModel.SearchString" />
<input type="hidden" id="category-id" value="@Model.SearchProductViewModel.CategoryId" />
<input type="hidden" id="user-id" value="@(cus != null ? cus.Id.ToString() : "")" />
<form method="post"></form>
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
                @*<div class="category-description std">
                        <div class="slider-items-products">
                            <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                    <!-- Item -->
                                    <div class="item">
                                        <a href="#x"><img alt="HTML template" src="images/cat-slider-img1.jpg"></a>
                                        <div class="inner-info">
                                            <div class="cat-img-title">
                                                <span>Best Product 2017</span>
                                                <h2 class="cat-heading">Best Selling Brand</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                                <a class="info" href="#">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                    <!-- Item -->
                                    <div class="item"> <a href="#x"><img alt="HTML template" src="images/cat-slider-img2.jpg"></a> </div>

                                    <!-- End Item -->

                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="shop-inner">
                    @*<div class="page-title">
                            <h2>iPhone 6</h2>
                        </div>*@
                    <div class="toolbar">
                        <div class="view-mode">
                            @*0 mặt hàng được tìm thấy theo "d9ien655 thoai5"*@
                            @*<ul>
                                    <li class="active"> <a href="shop_grid.html"> <i class="fa fa-th-large"></i> </a> </li>
                                    <li> <a href="shop_list.html"> <i class="fa fa-th-list"></i> </a> </li>
                                </ul>*@
                        </div>
                        <div class="sorter">
                            <div class="short-by">
                                @*<label>Sort By:</label>*@
                                <label>Sắp xếp theo: </label>
                                @*<select>
                                        <option selected="selected">Position</option>
                                        <option>Name</option>
                                        <option>Price</option>
                                        <option>Size</option>
                                    </select>*@
                                <select asp-for="SearchProductViewModel.Sort" asp-items="Html.GetEnumSelectList<SortType>()"></select>
                            </div>
                            @*<div class="short-by page">
                                    <label>Show:</label>
                                    <select>
                                        <option selected="selected">18</option>
                                        <option>20</option>
                                        <option>25</option>
                                        <option>30</option>
                                    </select>
                                </div>*@
                        </div>
                    </div>
                    <div class="product-grid-area">
                        <ul class="products-grid"></ul>
                        <script id="search-result-template" type="x-tmpl-mustache">
                            <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                                <div class="product-item">
                                    <div class="item-inner">
                                        <div class="product-thumbnail">
                                            @*<div class="icon-new-label new-left">New</div>*@
                                            <div class="pr-img-area zoomindex">
                                                <a title="{{ProductName}}" href="/Product/Detail?id={{ProductId}}">
                                                    @*<figure> <img class="first-img" src="images/products/product-1.jpg" alt="HTML template"> <img class="hover-img" src="images/products/product-1.jpg" alt="HTML template"></figure>*@
                                                    <figure><img class="first-img" src="{{Image}}" height="250" alt="Xin lỗi, hình ảnh không thể hiển thị"> @*<img class="hover-img" src="{{Image}}" alt="HTML template">*@</figure>
                                                </a>
                                            </div>
                                            <div class="pr-info-area">
                                                @*<div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                @*<div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a> </div>*@
                                                <div class="item-title"> <a title="{{ProductName}}" href="/Product/Detail?id={{ProductId}}">{{ProductName}} </a> </div>
                                                <div class="item-content">
                                                    <div class="ratings">
                                                        {{AvgRating}}
                                                        @*<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>*@
                                                        @*<div class="rateit" data-rateit-value=data-rateit-readonly ="true"> </div>*@
                                                        @*<div class="rateit" data-rateit-value={{AvgRating}} data-rateit-readonly="true"> </div>*@
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            @*<p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>*@
                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{Price}} </span> </p>
                                                            @*<p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>*@
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{OriginalPrice}} </span> </p>
                                                        </div>
                                                    </div>
                                                    <div class="pro-action">
                                                        <button type="button" class="add-to-cart addtocart-layout" id="btnAddToCart" data-id="{{ProductId}}"><span>Thêm vào giỏ hàng</span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </script>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                @*<table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Loại sản phẩm</th>
                                                <th>Thương hiệu</th>
                                                <th>Số lượng</th>
                                                <th>Giá</th>
                                                <th>Ngày tạo</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-content"></tbody>
                                    </table>*@
                                <!--Pagination-->
                                <br />
                                <div class="row">
                                    @*<div class="col-sm-3">
                                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                                <select id="ddlShowPage">
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                </select>
                                                <span class="item-per-page">
                                                    sản phẩm/trang.
                                                </span>
                                                Tổng số sản phẩm: <strong id="lblTotalRecords"></strong>
                                            </div>
                                        </div>*@
                                    <div class="row--ul__center">
                                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                            <ul id="paginationUL" class="product-pagination"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="pagination-area">
                    *@
                    <!--Pagination-->
                    @*<div class="container">
                            <nav aria-label="Page navigation">
                                <ul class="pagination" id="pagination"></ul>
                            </nav>
                        </div>*@
                    @*<ul id="pagination-demo" class="pagination-sm"></ul>*@
                    @*<ul id="paginationUL"></ul>
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>*@
                    @*<div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddlShowPage">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        bản ghi/trang.
                                    </span>
                                    Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>*@
                    @*<ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>*@
                    @*
                        </div>*@
                </div>
            </div>
            <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                <div class="block category-sidebar">
                    <div class="sidebar-title">
                        <h3>Categories</h3>
                    </div>
                    <ul class="product-categories">
                        <li class="cat-item current-cat cat-parent">
                            <a href="shop_grid.html">Women</a>
                            <ul class="children">
                                <li class="cat-item cat-parent">
                                    <a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Accessories</a>
                                    <ul class="children">
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a></li>
                                        <li class="cat-item cat-parent">
                                            <a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                                            <ul class="children">
                                                <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                                                <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-parent">
                                    <a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                                    <ul class="children">
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; backpack</a></li>
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Fabric Handbags</a></li>
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Jewellery</a> </li>
                                <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Swimwear</a> </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-parent">
                            <a href="shop_grid.html">Men</a>
                            <ul class="children">
                                <li class="cat-item cat-parent">
                                    <a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a>
                                    <ul class="children">
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Casual</a></li>
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Designer</a></li>
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Evening</a></li>
                                        <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Hoodies</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Jackets</a> </li>
                                <li class="cat-item"><a href="shop_grid.html"><i class="fa fa-angle-right"></i>&nbsp; Shoes</a> </li>
                            </ul>
                        </li>
                        <li class="cat-item"><a href="shop_grid.html">Electronics</a></li>
                        <li class="cat-item"><a href="shop_grid.html">Furniture</a></li>
                        <li class="cat-item"><a href="shop_grid.html">KItchen</a></li>
                    </ul>
                </div>
                <div class="block shop-by-side">
                    @*<div class="sidebar-bar-title">
                            <h3>Shop By</h3>    
                        </div>*@
                    <div class="block-content" id="block-content-search">
                        @*<p class="block-subtitle">Shopping Options</p>*@
                        <div class="manufacturer-area">
                            <h2 class="saider-bar-title">Danh mục sản phẩm</h2>
                            <div class="saide-bar-menu">
                                <ul id="list-categories">
                                    @*
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Duis tempus id </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Leo quis molestie. </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Suspendisse </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Nunc gravida </a></li>*@
                                </ul>
                                <script id="categoies-template" type="x-tmpl-mustache">
                                    <li>
                                        <a href="#" class="category-filter" data-category-id="{{CategoryId}}">{{CategoryName}}</a>
                                    </li>
                                    @*
                                        <li><a href="javascript:;" id="" class="category-filter" data-category-id="{{CategoryId}}"><i class="fa fa-angle-right"></i> {{CategoryName}}</a></li>*@
                                    @*
                                        <li><a href="#" id="category-filter" name="category-filter" class="category-filter"><i class="fa fa-angle-right"></i> {{CategoryName}}</a></li>*@
                                    @*
                                        <li class="category-filter" data-category-id="{{CategoryId}}"><i class="fa fa-angle-right"></i> {{CategoryName}}</li>*@
                                    @*
                                        <li class="category-filter" data-category-id="{{CategoryId}}"> {{CategoryName}}</li>*@
                                </script>
                            </div>
                        </div>
                        <div class="layered-Category">
                            <h2 class="saider-bar-title">Tên thương hiệu</h2>
                            <div class="layered-content">
                                <ul class="check-box-list" id="list-brand-names">
                                    @*
                                        <li>
                                            <input type="checkbox" id="jtv1" name="jtvc">
                                            <label for="jtv1"> <span class="button"></span> Women<span class="count">(12)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv1" name="jtvc">
                                            <label for="jtv1"> <span class="button"></span> Men<span class="count">(22)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv1" name="jtvc">
                                            <label for="jtv1"> <span class="button"></span> Kids<span class="count">(15)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv1" name="jtvc">
                                            <label for="jtv1"> <span class="button"></span> Accessories<span class="count">(12)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv1" name="jtvc">
                                            <label for="jtv1"> <span class="button"></span> Camera & Photo<span class="count">(12)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv2" name="jtvc">
                                            <label for="jtv2"> <span class="button"></span> Computers<span class="count">(18)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv3" name="jtvc">
                                            <label for="jtv3"> <span class="button"></span> Apple Store<span class="count">(15)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv4" name="jtvc">
                                            <label for="jtv4"> <span class="button"></span> Car Electronic<span class="count">(03)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv5" name="jtvc">
                                            <label for="jtv5"> <span class="button"></span> Accessories<span class="count">(04)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv7" name="jtvc">
                                            <label for="jtv7"> <span class="button"></span> Game & Video<span class="count">(07)</span> </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="jtv8" name="jtvc">
                                            <label for="jtv8"> <span class="button"></span> Best selling<span class="count">(05)</span> </label>
                                        </li>*@
                                </ul>
                                <script id="brand-names-template" type="x-tmpl-mustache">
                                    <li>
                                        <input type="checkbox" name="BrandName" value="{{BrandName}}" /> {{BrandName}}
                                        @*<label for="jtv1"> <span class="button"></span> Women<span class="count">(12)</span> </label>*@
                                        @*<label for="BrandName"> {{BrandName}}</label>*@
                                    </li>
                                </script>
                            </div>
                        </div>
                        <div class="manufacturer-area">
                            <h2 class="saider-bar-title">Đánh giá</h2>
                            <div class="saide-bar-menu">
                                <ul>
                                    <li>
                                        <a href="#" class="rating" data-rating-number="5">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            (5 sao)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rating" data-rating-number="4">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            (Ít nhất 4 sao)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rating" data-rating-number="3">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            (Ít nhất 3 sao)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rating" data-rating-number="2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            (Ít nhất 2 sao)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rating" data-rating-number="3">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            (Ít nhất 1 sao)
                                        </a>
                                    </li>
                                    @*
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Duis tempus id </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Leo quis molestie. </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Suspendisse </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Nunc gravida </a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block product-price-range ">
                    <div class="sidebar-bar-title">
                        <h3>Giá</h3>
                    </div>
                    <div class="block-content">
                        <div class="row">
                            <div class="range-price col-sm-12">
                                <div class="col-sm-4 row__sm4--nopadding">
                                    <input type="number" min="0" class="form-control" id="min-price">
                                </div>
                                <div class="col-sm-2">
                                    đến
                                </div>
                                <div class="col-sm-4 row__sm4--nopadding">
                                    <input type="number" min="0" class="form-control" id="max-price">
                                </div>
                                <div class="col-sm-2 row__sm2--padding">
                                    <button class="btn btn-default" id="btn-price-range"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        @*<div class="slider-range">
                                <div data-label-reasult="Range:" data-min="0" data-max="100000000" data-unit="đ" class="slider-range-price" data-value-min="500000" data-value-max="50000000"></div>
                                <div class="amount-range-price">Khoảng giá: 500000đ - 50000000đ</div>
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="p1" name="cc" />
                                        <label for="p1"> <span class="button"></span> $20 - $50<span class="count">(0)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="p2" name="cc" />
                                        <label for="p2"> <span class="button"></span> $50 - $100<span class="count">(0)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="p3" name="cc" />
                                        <label for="p3"> <span class="button"></span> $100 - $250<span class="count">(0)</span> </label>
                                    </li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                @*<div class="block sidebar-cart">
                        <div class="sidebar-bar-title">
                            <h3>My Cart</h3>
                        </div>
                        <div class="block-content">
                            <p class="amount">There are <a href="shopping_cart.html">2 items</a> in your cart.</p>
                            <ul>
                                <li class="item">
                                    <a href="shopping_cart.html" title="Sample Product" class="product-image"><img src="images/products/product-1.jpg" alt="Sample Product "></a>
                                    <div class="product-details">
                                        <div class="access"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a></div>
                                        <p class="product-name"> <a href="shopping_cart.html">Lorem ipsum dolor sit amet Consectetur</a> </p>
                                        <strong>1</strong> x <span class="price">$19.99</span>
                                    </div>
                                </li>
                                <li class="item last">
                                    <a href="#" title="Sample Product" class="product-image"><img src="images/products/product-1.jpg" alt="Sample Product"></a>
                                    <div class="product-details">
                                        <div class="access"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a></div>
                                        <p class="product-name"> <a href="shopping_cart.html">Consectetur utes anet adipisicing elit</a> </p>
                                        <strong>1</strong> x <span class="price">$8.00</span>
                                        access clearfix
                                    </div>
                                </li>
                            </ul>
                            <div class="summary">
                                <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">$27.99</span> </p>
                            </div>
                            <div class="cart-checkout">
                                <button class="button button-checkout" title="Submit" type="submit"><span>Checkout</span></button>
                            </div>
                        </div>
                    </div>*@
                @*<div class="block compare">
                        <div class="sidebar-bar-title">
                            <h3>Compare Products (2)</h3>
                        </div>
                        <div class="block-content">
                            <ol id="compare-items">
                                <li class="item"> <a href="compare.html" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name"><i class="fa fa-angle-right"></i>&nbsp; Vestibulum porta tristique porttitor.</a> </li>
                                <li class="item"> <a href="compare.html" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name"><i class="fa fa-angle-right"></i>&nbsp; Lorem ipsum dolor sit amet</a> </li>
                            </ol>
                            <div class="ajax-checkout">
                                <button type="submit" title="Submit" class="button button-compare"> <span>Compare</span></button>
                                <button type="submit" title="Submit" class="button button-clear"> <span>Clear All</span></button>
                            </div>
                        </div>
                    </div>*@
                @*<div class="single-img-add sidebar-add-slider ">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="images/add-slide1.jpg" alt="slide1">
                                    <div class="carousel-caption">
                                        <h3><a href="single_product.html" title=" Sample Product">Sale Up to 50% off</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="#" class="info">shopping Now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/add-slide2.jpg" alt="slide2">
                                    <div class="carousel-caption">
                                        <h3><a href="single_product.html" title=" Sample Product">Smartwatch Collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a href="#" class="info">All Collection</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/add-slide3.jpg" alt="slide3">
                                    <div class="carousel-caption">
                                        <h3><a href="single_product.html" title=" Sample Product">Summer Sale</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>*@
                @*<div class="block special-product">
                        <div class="sidebar-bar-title">
                            <h3>Special Products</h3>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li class="item">
                                    <div class="products-block-left"> <a href="single_product.html" title="Sample Product" class="product-image"><img src="images/products/product-1.jpg" alt="Sample Product "></a></div>
                                    <div class="products-block-right">
                                        <p class="product-name"> <a href="single_product.html">Lorem ipsum dolor sit amet Consectetur</a> </p>
                                        <span class="price">$19.99</span>
                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="products-block-left"> <a href="single_product.html" title="Sample Product" class="product-image"><img src="images/products/product-1.jpg" alt="Sample Product "></a></div>
                                    <div class="products-block-right">
                                        <p class="product-name"> <a href="single_product.html">Consectetur utes anet adipisicing elit</a> </p>
                                        <span class="price">$89.99</span>
                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                    </div>
                                </li>
                            </ul>
                            <a class="link-all" href="shop_grid.html">All Products</a>
                        </div>
                    </div>*@
                @*<div class="block popular-tags-area ">
                        <div class="sidebar-bar-title">
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="tag">
                            <ul>
                                <li><a href="#">Boys</a></li>
                                <li><a href="#">Camera</a></li>
                                <li><a href="#">good</a></li>
                                <li><a href="#">Computers</a></li>
                                <li><a href="#">Phone</a></li>
                                <li><a href="#">clothes</a></li>
                                <li><a href="#">girl</a></li>
                                <li><a href="#">shoes</a></li>
                                <li><a href="#">women</a></li>
                                <li><a href="#">accessoties</a></li>
                                <li><a href="#">View All Tags</a></li>
                            </ul>
                        </div>
                    </div>*@
                @*<div class="block block-poll">
                        <div class="sidebar-bar-title">
                            <h3>Community Poll</h3>
                        </div>
                        <form id="pollForm" action="#" method="post" onsubmit="return validatePollAnswerIsSelected();">
                            <div class="block-content">
                                <p class="block-subtitle">What is your favorite color</p>
                                <ul id="poll-answers">
                                    <li class="odd">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_1" value="1">
                                        <span class="label">
                                            <label for="vote_1">Green</label>
                                        </span>
                                    </li>
                                    <li class="even">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_2" value="2">
                                        <span class="label">
                                            <label for="vote_2">Red</label>
                                        </span>
                                    </li>
                                    <li class="odd">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_3" value="3">
                                        <span class="label">
                                            <label for="vote_3">Black</label>
                                        </span>
                                    </li>
                                    <li class="last even">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_4" value="4">
                                        <span class="label">
                                            <label for="vote_4">Magenta</label>
                                        </span>
                                    </li>
                                </ul>
                                <div class="actions">
                                    <button type="submit" title="Vote" class="button button-vote"><span>Vote</span></button>
                                </div>
                            </div>
                        </form>
                    </div>*@
                @*<div class="offer-banner"><img src="images/offer-banner.jpg" alt="banner"></div>*@
            </aside>
        </div>
    </div>
</div>
<!-- Main Container End -->
<!-- service section -->
@*<div class="jtv-service-area">
        <div class="container">
            <div class="row">
                <div class="col col-md-3 col-sm-6 col-xs-12">
                    <div class="block-wrapper ship">
                        <div class="text-des">
                            <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
                            <div class="service-wrapper">
                                <h3>World-Wide Shipping</h3>
                                <p>On order over $99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-xs-12 ">
                    <div class="block-wrapper return">
                        <div class="text-des">
                            <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
                            <div class="service-wrapper">
                                <h3>30 Days Return</h3>
                                <p>Moneyback guarantee </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-xs-12">
                    <div class="block-wrapper support">
                        <div class="text-des">
                            <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
                            <div class="service-wrapper">
                                <h3>Support 24/7</h3>
                                <p>Call us: ( +123 ) 456 789</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6 col-xs-12">
                    <div class="block-wrapper user">
                        <div class="text-des">
                            <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
                            <div class="service-wrapper">
                                <h3>Member Discount</h3>
                                <p>25% on order over $199</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
