@page
@model OnlineStore.Pages.Admin.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@section Scripts{
    <script src="~/js/admin/order/detail.js"></script>
    <script>
        orderDetail.init();
    </script>
}

<div class="page-title">
    <div class="title_left">
        <h3>Chi tiết đơn hàng</h3>
    </div>
    <div class="title_right">
        <div class="col-md-12 col-sm-12  form-group pull-right">
            <a class="btn btn-info" asp-page="./Index">Quay về danh sách đơn hàng</a>
            @*<button type="button" id="btnSaveChangesOrder" class="btn btn-success">Lưu thay đổi</button>*@
            <a class="btn btn-danger" id="btnDelete" data-order-id="@Model.Order.Id">Xóa đơn hàng</a>
            <button class="btn btn-default" id="btn-export" type="button">In thông tin đơn hàng</button>
        </div>
    </div>
</div>
<div class="x_content">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#order_info" role="tab" data-toggle="tab" aria-expanded="true">Thông tin đơn hàng</a>
            </li>
            <li role="presentation" class="">
                <a href="#deliver_info" role="tab" data-toggle="tab" aria-expanded="false">Thông tin đặt hàng</a>
            </li>
            <li role="presentation" class="">
                <a href="#product_list" role="tab" data-toggle="tab" aria-expanded="false">Danh sách sản phẩm</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="order_info">
                <p>
                    @await Component.InvokeAsync("OrderInfo", new { orderId = Model.Order.Id })
                </p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="deliver_info">
                <p>
                    @await Component.InvokeAsync("DeliveryInfo", new { orderId = Model.Order.Id })
                </p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="product_list">
                <p>
                    @await Component.InvokeAsync("OrderProductInfo", new { orderId = Model.Order.Id })
                </p>
            </div>
        </div>
    </div>
</div>