@page
@model OnlineStore.Areas.Admin.Pages.Order.ReceivingTypeManagementModel

@section Scripts{
<script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>
<script src="~/js/admin/receiving-type.js" asp-append-version="true"></script>
<script>
    receivingType.init();
</script>
}

<form method="post">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách các phương thức giao hàng</h3>
        </div>

        <div class="title_right">
            <div class="col-md-6 col-sm-12  form-group pull-right">
                <button id="btnCreate" type="button" class="btn btn-success">Tạo</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên phương thức</th>
                            <th>Phí giao hàng (VNĐ)</th>
                            <th>Số ngày giao hàng</th>
                            <th>Ngày tạo</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{Name}}</td>
            <td>{{Value}}</td>
            <td>{{NumberShipDay}}</td>
            <td>{{CreatedDate}}</td>
            <th>
                <a class="btn btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></a>
            </th>
        </tr>
    </script>
</form>
<partial name="_AddEditReceivingType" />
