@using DAL.Data.Entities
@using DAL.Models
@using OnlineStore.Extensions
@using Microsoft.AspNetCore.Http

@*Dùng viewbag để thể hiện tổng số lượng sản phẩm có trong giỏ hàng và tổng tiền*@

@*<link href="~/Content/toastr.css" rel="stylesheet" />*@
@*<script src="~/Scripts/toastr.js"></script>*@
@{
    var cus = Context.Session.Get<ApplicationUser>("UserSession");
}
<input type="hidden" value="@cus" id="sessionCustomer" />
<div id="divGioHang" class="cart box_1">
    <a id="cartIndex">
        <h3>
            @if (Context.Session.Get<ApplicationUser>("UserSession") != null)
            {
                <div class="total">
                    (<span id="simpleCart_quantity" class="simpleCart_quantity">@ViewBag.TongSoLuong</span>
                    items)
                </div>
            }
            <img src="~/images/cart.png" />
        </h3>
    </a>
    @*<p><a asp-page="/Cart/Index" class="simpleCart_empty">Giỏ hàng</a></p>*@
    @*<p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Giỏ hàng</a></p>*@
</div>
<script>
    var value = '@TempData["result"]';
    if (value !== '')
    {
        toastr.success(value);
    }
    $('#cartIndex').click(function () {
        if ($('#sessionCustomer').val() !== "") {
            window.location.href = "/Cart/Index";
        } else {
            window.location.href = "/Account/Login";
        }
    });
</script>
