.productnamecheckout {
    font-family: 'Roboto','Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

.border-box-cartmini {
    border: 1px solid #e5e5e5
}

.product-image-cartmini {
    border-right: 1px solid #e5e5e5
}
.none-padding {
    padding: 0px !important;
}
.icon-service {
    color: #cb2d22 !important;
}