@section Scripts{
    <script src="~/js/client/cart/checkout.js" rel="stylesheet"></script>
    <script>
        checkoutcart.registerEvents();
    </script>
}
<div id="modal-add-address" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">
                    Thêm địa chỉ nhận hàng
                </h4>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmaddaddress">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <br /><br />
                                    <label for="address_1" class="required">Họ tên</label>
                                    <input class="input form-control" type="text" name="" id="txtHoTen" placeholder="Họ và tên">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label id="txtPhoneNumber" for="address_1" class="required">Số điện thoại</label>
                                    <input class="input form-control" type="text" name="" id="address_1" placeholder="Số điện thoại của bạn">
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <br /><br />
                                    <label for="txtDetail" class="required">Địa chỉ</label>
                                    <input class="input form-control" type="text" name="" id="address_1" placeholder="Nhập số nhà, đường">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="required">Tỉnh/ Thành phố</label>
                                    <div class="custom_select">
                                        <select class="input form-control" name="">
                                            <option value="Alabama">Alabama</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Kansas">Kansas</option>
                                        </select>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="required">Quận/ Huyện</label>
                                    <div class="custom_select">
                                        <select class="input form-control" name="">
                                            <option value="Alabama">Alabama</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Kansas">Kansas</option>
                                        </select>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="required">Phường/ Xã</label>
                                    <div class="custom_select">
                                        <select class="input form-control" name="">
                                            <option value="Alabama">Alabama</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Kansas">Kansas</option>
                                        </select>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSave" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-select-address" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">
                    Chọn địa chỉ nhận hàng
                </h4>
                <a style="color:crimson; font-style: italic " id="btnaddaddress"> Thêm địa chỉ mới</a>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmselectaddress">
                        <div class="box-border">
                            <div class="user-address-label">
                                <table class="table table-bordered table-responsive jtv-cart-summary">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1"></th>
                                            <th class="col-sm-2">Tên</th>
                                            <th class="col-sm-3">Địa chỉ</th>
                                            <th class="col-sm-4">Mã vùng</th>
                                            <th class="col-sm-2">Số điện thoại</th>
                                        </tr>
                                    </thead>
                                    <tbody id="user-address-content"></tbody>
                                </table>
                            </div>
                            <script id="script-select-address" type="x-tmpl-mustache">
                                <tr>
                                    <td>
                                        <input data-id="{{AddressId}}" data-RecipientName="{{RecipientName}}"
                                               data-Detail="{{Detail}}" data-Province="{{ProVince}}"
                                               data-District="{{District}}" data-Ward="{{Ward}}"
                                               data-PhoneNumber="{{PhoneNumber}}" type="radio" name="radio" class="radiobutton" >
                                    </td>
                                    <td data-th="RecipientName" class="quantity">{{RecipientName}}</td>
                                    <td data-th="Detail" class="quantity">{{Detail}}</td>
                                    <td data-th="Address" class="quantity">{{ProVince}}-{{District}}-{{Ward}}</td>
                                    <td data-th="PhoneNumber" class="price">{{PhoneNumber}}</td>
                                </tr>
                            </script>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelAddress" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSaveAddress" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>