@page
@model OnlineStore.Pages.Order.IndexModel
@{
    ViewData["Title"] = "Giỏ hàng";
}

@section Styles{
    <link href="~/css/client/cart/cart.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/client/cart/cart.js" asp-append-version="true"></script>
    <script>
        cart.init();
    </script>
}
<!-- Main Container -->
<form method="post">
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="col-main">
                <div class="cart">
                    <div class="page-content page-order">
                        <div class="page-title">
                            <h2>Giỏ hàng của tôi</h2>
                        </div>
                        <div class="container">
                            <div class="row container__row--center">
                                <div class="col-md-9">
                                    <table id="cart" class="table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">Hình ảnh</th>
                                                <th style="width:40%">Thông tin sản phẩm</th>
                                                <th style="width:10%">Giá</th>
                                                <th style="width:8%">Số lượng</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="container-cart"></tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        Tạm tính:
                                                    </strong>
                                                </td>
                                                <td id="subTotal"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <a class="btn btn-success" href="#"> Tiến hành đặt hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script id="template-cart" type="x-tmpl-mustache">
                            <tr>
                                <td>
                                    <input type="hidden" id="itemId" value="{{ItemId}}" />
                                    <img src="{{Image}}" alt="Sản phẩm không thể hiển thị" width="200" class="img-responsive" />
                                </td>
                                <td>
                                    <a href="/Product/Detail?id={{ItemId}}">
                                        <h4 class="nomargin">{{ProductName}}</h4>
                                    </a>
                                    <span class="text-danger">{{OutOfStockNotifyCation}}</span>
                                </td>
                                <td data-th="Price" class="price">{{Price}}</td>
                                <td data-th="Quantity">
                                    <input type="number" id="btnQuantity" {{IsOutOfStock}} class="form-control text-center" value="{{Quantity}}" min="1" max="{{MaxQuantity}}">
                                </td>
                                <td class="actions" data-th="">
                                    <button type="button" class="btn btn-danger btn-sm deleteItem" id="btnDeleteItem"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>