<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cập nhật sản phẩm</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidIdM" value="0" />
                            <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Tên</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtNameM" class="form-control" id="txtNameM">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Loại sản phẩm</label>
                            <div class="col-sm-10">
                                <input id="ddlCategoryIdM" required class="form-control" name="ddlCategoryIdM" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Tên thương hiệu</label>
                            <div class="col-sm-10">
                                <input id="txtBrandName" required class="form-control" name="ddlCategoryIdM" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Số lượng</label>
                            <div class="col-sm-10">
                                <input id="txtQuantity" required class="form-control" name="ddlCategoryIdM" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Mô tả</label>
                            <div class="col-sm-10">
                                <textarea rows="4" name="txtDescM" class="form-control" id="txtDescM"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">Giá gốc (VNĐ)</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtPriceM" class="form-control" id="txtPriceM">
                            </div>
                            <label class="col-sm-3 control-label">Giá khuyến mãi (VNĐ)</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtPromotionPriceM" class="form-control" id="txtPromotionPriceM">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hình ảnh</label>
                            <div class="col-sm-10">
                                <div id="dzUpload" class="dropzone">
                                    <div class="dz-default dz-message">Kéo thả ảnh vào đây</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy bỏ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>