<div id="dzUpload" class="dropzone">
    <div class="dz-default dz-message">Drop your attachments here (max 5 files)</div>
</div>
<script src="~/node_modules/gentelella/vendors/dropzone/dist/min/dropzone.min.js"></script>
<script src="~/js/admin/product.js" asp-append-version="true"></script>
<script>
    itemPage.initDropzone();
</script>