@page
@model OnlineStore.Pages.Admin.Customers.EditModel
@using DAL.Models
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Layout/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Customer.FullName" class="control-label"></label>
                <input asp-for="Customer.FullName" class="form-control" />
                <span asp-validation-for="Customer.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                <input asp-for="Customer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Customer.Password" class="control-label"></label>
                <input asp-for="Customer.Password" class="form-control" />
                <span asp-validation-for="Customer.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Status" class="control-label"></label>
                <input asp-for="Customer.Status" class="form-control" />
                <span asp-validation-for="Customer.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.ShippingAddress" class="control-label"></label>
                <input asp-for="Customer.ShippingAddress" class="form-control" />
                <span asp-validation-for="Customer.ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.BillingAddress" class="control-label"></label>
                <input asp-for="Customer.BillingAddress" class="form-control" />
                <span asp-validation-for="Customer.BillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.TypeOfCustomerId" class="control-label"></label>
                <select asp-for="Customer.TypeOfCustomerId" class="form-control" asp-items="ViewBag.TypeOfCustomerId"></select>
                <span asp-validation-for="Customer.TypeOfCustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Gender" class="control-label"></label>
                <select asp-for="Customer.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                <span asp-validation-for="Customer.Gender" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Customer.Id" />
            <input type="hidden" asp-for="Customer.Timestamp" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

