@page
@model OnlineStore.Pages.Order.ConfirmAndThanksForOrderModel
@{
    ViewData["Title"] = "ConfirmAndThanksForOrder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="jumbotron text-xs-center text-center">
        <h1 class="display-3">Cám ơn bạn đã mua hàng tại Timi!</h1>
        @*<p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>*@
        <p class="lead">Mã đơn hàng của bạn là: .</p>
        @*<hr>*@
        <p>
            Bạn có thể xem lại thông qua <a href="javascript:;">đơn hàng của tôi</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" asp-page="/Home/Index" role="button">Tiếp tục mua hàng</a>
        </p>
    </div>