@page
@model OnlineStore.Pages.Order.ConfirmAndThanksForOrderModel
@{
    ViewData["Title"] = "ConfirmAndThanksForOrder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="jumbotron text-xs-center text-center">
    <h1 class="display-3">Cám ơn bạn đã mua hàng tại Timi!</h1>
    <p class="lead">Email xác nhận đơn hàng đã được gửi tới @Model.Email. Nếu không thấy email trong hộp thư đến, vui lòng kiểm tra hộp thư spam.</p>
    <p class="lead">Mã đơn hàng của bạn là: <a asp-page="/Order/MyOrder" class="btn btn-primary" asp-route-orderId="@Model.OrderId">@Model.OrderId</a></p>
    @*<hr>*@
    <p>
        Bạn có thể xem lại các đơn hàng thông qua <a class="btn btn-primary" asp-page="/Order/OrdersList">đơn hàng của tôi</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-page="/Home/Index" role="button">Tiếp tục mua hàng</a>
    </p>
</div>