@page
@model OnlineStore.Pages.Order.SuccessModel
@{
    ViewData["Title"] = "Success";
    Layout = "~/Pages/Layout/_HomeLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron text-xs-center">
                <h1 class="display-3">Đặt hàng thành công</h1>
                <hr>
                <p class="lead">
                    <a class="btn btn-primary btn-sm" asp-page="/Home/Index" role="button">Tiếp tục mua hàng</a>
                </p>
            </div>
        </div>
    </div>
</div>

