/* CSS File client side*/

.dv-bg-loading {
    background-color: #FFFFFF;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
    width: 100%;
    display: none;
}

.dv-loading {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100000000;
    width: 100%;
}

.red {
    color: #E74C3C;
}

.range-price {
    display: flex;
    align-items: center;
}

.row__sm4--nopadding{
    padding: 0;
}

.row__sm2--padding {
    padding: 2px;
}