@page
@model OnlineStore.Pages.Home.IndexModel
@using Utilities.Extensions
@using Microsoft.AspNetCore.Identity
@using DAL.Data.Entities
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
@{
    var cus = await UserManager.GetUserAsync(HttpContext.User);
}

@section StyleS{
    <link href="~/css/client/home.css" rel="stylesheet" />
}
@section Scripts{
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            jQuery('#rev_slider_4').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 865,
                startheight: 450,

                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,

                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',

                touchenabled: 'on',
                onHoverStop: 'on',

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                spinner: 'spinner0',
                keyboardNavigation: 'off',

                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'off',

                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: 'off',

                autoHeight: 'off',
                forceFullWidth: 'on',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,

                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,


                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
    </script>
    <script src="~/js/client/home.js" rel="stylesheet" asp-append-version="true"></script>
    <script>
        jshome.init();
    </script>}
@if (cus != null)
{
    <input data-customerid="@cus.Id" id="data-cus-hidden-index" hidden />
}
<!-- Slideshow  -->
<div class="main-slider" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 banner-left hidden-xs"><img src="~/images/client/layout/banner-left.jpg" alt="banner"></div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12 jtv-slideshow">
                <div id="jtv-slideshow">
                    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                            <ul>
                                <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb=''>
                                    <a target="_blank" asp-page="/Product/Detail" asp-route-id="14">
                                        <img class="img-slideshow" src='~/images/client/layout/slider/banelocmonileiphone.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                        @*<div class="caption-inner">
                                                <div class='tp-caption LargeTitle sft  tp-resizeme' data-x='250' data-y='110' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>Uy tín hàng đầu Việt Nam</div>
                                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme' data-x='200' data-y='160' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap; color:#fff; text-shadow:none;'>TimiShop</div>
                                                <div class='tp-caption' data-x='310' data-y='230' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap; color:#f8f8f8;'>Chuyên sản phẩm công nghệ</div>
                                                <div class='tp-caption sfb  tp-resizeme ' data-x='370' data-y='280' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Mua ngay</a> </div>
                                            </div>*@
                                    </a>
                                </li>
                                <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb=''>
                                    <a target="_blank" asp-page="/Product/Detail" asp-route-id="6">
                                        <img class="img-slideshow" src='~/images/client/layout/slider/banerlocmonile5.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                        @*<div class="caption-inner left">
                                                <div class='tp-caption LargeTitle sft  tp-resizeme' data-x='50' data-y='110' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>Smooth, Rich & Loud Audio</div>
                                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme' data-x='50' data-y='160' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>headphone</div>
                                                <div class='tp-caption' data-x='72' data-y='230' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>World's Most advanced Wireless earbuds.</div>
                                                <div class='tp-caption sfb  tp-resizeme ' data-x='72' data-y='280' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">EXPLORE NOW</a> </div>
                                            </div>*@
                                    </a>
                                </li>
                                <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb=''>
                                    <a target="_blank" asp-page="/Product/Detail" asp-route-id="26">
                                        <img class="img-slideshow" src='~/images/client/layout/slider/banerlocmonile1.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                        @*<div class="caption-inner left">
                                                <div class='tp-caption LargeTitle sft  tp-resizeme' data-x='350' data-y='100' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>It’s Time To Look</div>
                                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme' data-x='350' data-y='140' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>The New</div>
                                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme' data-x='350' data-y='185' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>Standard</div>
                                                <div class='tp-caption' data-x='375' data-y='245' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>The New Standard. under favorable smartwatches</div>
                                                <div class='tp-caption sfb  tp-resizeme ' data-x='375' data-y='290' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Start Buying </a> </div>
                                            </div>*@
                                    </a>
                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-paper-plane icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Phí vận chuyển cực rẻ</h3>
                            <p>Chỉ từ 10.000đ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-rotate-right icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Bảo mật thanh toán</h3>
                            <p>Paypal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-umbrella icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Điện thoại: +84 367 167 648</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-tags icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Khuyến mãi</h3>
                            <p>Điện thoại, Laptop...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inner-box">
    <div class="container">
        <div class="row">
            <!-- Banner -->
            <div class="col-md-3 top-banner hidden-sm">
                <div class="jtv-banner3">
                    <div class="jtv-banner3-inner">
                        <a href="#"><img src="~/images/client/layout/sub1.jpg" alt=""></a>
                        <div class="hover_content">
                            <div class="hover_data">
                                <div class="title" style="color:#fff"> Khuyến mãi cực lớn </div>
                                <div class="desc-text bold" style="color:yellow; font-size: 18px">Lên đến 50%</div>
                                <span style="color:#fff; font-size: 24px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Xiaomi</span>
                                <p><a asp-page="/Product/Search" asp-route-categoryId="15" asp-page-handler="Category" target="_blank" class="shop-now">Nhận ngay!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Best Sale -->
            <div class="col-sm-12 col-md-9 jtv-best-sale special-pro">
                <div class="jtv-best-sale-list">
                    <div class="wpb_wrapper">
                        <div class="best-title text-left">
                            <h2>Sản phẩm giảm giá hot</h2>
                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div id="jtv-best-sale-slider" class="product-flexslider">
                            <div class="slider-items">
                                @await Html.PartialAsync("~/Pages/Shared/_SaleProductsSlidePartial.cshtml", Model.Phones)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- All products-->
@*Slide sản phảm bán chạy *@
<div class="container">
    <div class="home-tab" id="hot-product-homepage">
        <div class="tab-title text-left">
            <h2>Sản phẩm được nhiều người quan tâm</h2>
            <ul class="nav home-nav-tabs home-product-tabs">
                <li class="active"><a href="#topsellphone" data-toggle="tab" aria-expanded="false">Điện thoại</a></li>
                <li><a href="#topselllaptop" data-toggle="tab" aria-expanded="false">Laptop</a></li>
                <li><a href="#topselltablets" data-toggle="tab" aria-expanded="false">Máy tính bảng</a></li>
                <li><a href="#topsellaccessories" data-toggle="tab" aria-expanded="false">Phụ kiện</a></li>
            </ul>
        </div>
        <div id="productTabContent" class="tab-content">
            <div class="tab-pane active in" id="topsellphone">
                <div class="featured-pro">
                    <div class="slider-items-products">
                        <div id="computer-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                @await Html.PartialAsync("~/Pages/Shared/_HotProductsSlidePartial.cshtml", Model.Phones)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="topselllaptop">
                <div class="top-sellers-pro">
                    <div class="slider-items-products">
                        <div id="smartphone-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 ">

                                @await Html.PartialAsync("~/Pages/Shared/_HotProductsSlidePartial.cshtml", Model.Laptops)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="topselltablets">
                <div class="top-sellers-pro">
                    <div class="slider-items-products">
                        <div id="watches-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 ">
                                @await Html.PartialAsync("~/Pages/Shared/_HotProductsSlidePartial.cshtml", Model.Tablets)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="topsellaccessories">
                <div class="top-sellers-pro">
                    <div class="slider-items-products">
                        <div id="photo-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 ">
                                @await Html.PartialAsync("~/Pages/Shared/_HotProductsSlidePartial.cshtml", Model.Accessories)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*//Slide sản phẩm bán chạy *@

@*Slide sản phẩm mới *@
<div class="container">
    <div class="home-tab" id="new-product-homepage">
        <div class="tab-title text-left">
            <h2>Sản phẩm mới</h2>
            <ul class="nav home-nav-tabs home-product-tabs">
                <li class="active"><a href="#newphones" data-toggle="tab" aria-expanded="false">Điện thoại</a></li>
                <li><a href="#newlaptops" data-toggle="tab" aria-expanded="false">Laptop</a></li>
                <li><a href="#newtablets" data-toggle="tab" aria-expanded="false">Máy tính bảng</a></li>
                <li><a href="#newaccessories" data-toggle="tab" aria-expanded="false">Phụ kiện</a></li>
            </ul>
        </div>
        <div id="productTabContent" class="tab-content">
            <div class="tab-pane active in" id="newphones">
                <div class="featured-pro">
                    <div class="slider-items-products">
                        <div id="computer-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                @await Html.PartialAsync("~/Pages/Shared/_NewProductsSlidePartial.cshtml", Model.Phones)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="newlaptops">
                <div class="top-sellers-pro">
                    <div class="slider-items-products">
                        <div id="smartphone-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 ">

                                @await Html.PartialAsync("~/Pages/Shared/_NewProductsSlidePartial.cshtml", Model.Laptops)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="newtablets">
                <div class="top-sellers-pro">
                    <div class="slider-items-products">
                        <div id="watches-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 ">
                                @await Html.PartialAsync("~/Pages/Shared/_NewProductsSlidePartial.cshtml", Model.Tablets)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="newaccessories">
                <div class="top-sellers-pro">
                    <div class="slider-items-products">
                        <div id="photo-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 ">

                                @await Html.PartialAsync("~/Pages/Shared/_NewProductsSlidePartial.cshtml", Model.Accessories)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*//Slide sản phẩm mới *@


@*<div class="container">
        <div class="row">
            <div class="daily-deal-section">
                <!-- daily deal section-->
                <div class="col-md-7 daily-deal">
                    <h3 class="deal-title">Deal of the day</h3>
                    <div class="title-divider"><span></span></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel massa eget ante tincidunt vestibulum. Aenean vel metus magna. Mauris nec. Nunc congue ac libero ut lacinia. In ultrices
                        elementum ipsum, in tempus enim accumsan..
                    </p>
                    <div class="hot-offer-text">Summer Sale <span>2017</span></div>
                    <div class="box-timer">
                        <span class="des-hot-deal">Hurry up! Special offer</span>
                        <div class="time" data-countdown="countdown" data-date="09-30-2017-10-20-50"></div>
                        <a href="#" class="link">Shopping Now</a>
                    </div>
                </div>
                <div class="col-md-5 hot-pr-img-area">
                    <div id="daily-deal-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4 ">
                            <div class="pr-img-area">
                                <a title="Product title here" href="single_product.html">
                                    <figure> <img class="first-img" src="~/images/client/layout/products/product-1.jpg" alt="HTML template"></figure>
                                </a>
                            </div>
                            <div class="pr-img-area">
                                <a title="Product title here" href="single_product.html">
                                    <figure> <img class="first-img" src="~/images/client/layout/products/product-1.jpg" alt="HTML template"> </figure>
                                </a>
                            </div>
                            <div class="pr-img-area">
                                <a title="Product title here" href="single_product.html">
                                    <figure> <img class="first-img" src="~/images/client/layout/products/product-1.jpg" alt="HTML template"> </figure>
                                </a>
                            </div>
                            <div class="pr-img-area">
                                <a title="Product title here" href="single_product.html">
                                    <figure> <img class="first-img" src="~/images/client/layout/products/product-1.jpg" alt="HTML template"> </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
<div class="featured-products">
    <div class="container">
        <div class="row">

            <!-- Best Sale -->
            @*<div class="col-sm-12 col-md-4 jtv-best-sale">
                    <div class="jtv-best-sale-list">
                        <div class="wpb_wrapper">
                            <div class="best-title text-left">
                                <h2>Top đánh giá</h2>
                            </div>
                        </div>
                        <div class="slider-items-products">
                            <div id="toprate-products-slider" class="product-flexslider">
                                <div class="slider-items">
                                    <ul class="products-grid">
                                        @await Html.PartialAsync("~/Pages/Shared/_ProductsTopRateAndNewPartial.cshtml", Model.Laptops)
                                    </ul>
                                    <ul class="products-grid">
                                        @await Html.PartialAsync("~/Pages/Shared/_ProductsTopRateAndNewPartial.cshtml", Model.Phones)
                                    </ul>
                                    <ul class="products-grid">
                                        @await Html.PartialAsync("~/Pages/Shared/_ProductsTopRateAndNewPartial.cshtml", Model.Accessories)
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- Banner -->
            @*<div class="col-md-4 top-banner hidden-sm" style="color:#333333; font-weight: 400">
                    <div class="jtv-banner3">
                        <div class="jtv-banner3-inner">
                            <a href="#"><img src="~/images/client/layout/sub1a.jpg" alt="HTML template"></a>
                            <div class="hover_content">
                                <div class="hover_data bottom">
                                    <div class="desc-text" style="color:#333333; font-weight: 500">Thương hiệu ưu đãi </div>
                                    <div class="title" style="color:#333333; font-weight: 600">Khuyến mãi điện thoại</div>
                                    <span style="color:#333333; font-weight: 500">Điện thoại thông mimh</span>
                                    <p><a href="#" class="shop-now">Nhận ngay!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            @*<div class="col-sm-12 col-md-4 jtv-best-sale">
                    <div class="jtv-best-sale-list">
                        <div class="wpb_wrapper">
                            <div class="best-title text-left">
                                <h2>Sản phẩm mới</h2>
                            </div>
                        </div>
                        <div class="slider-items-products">
                            <div id="new-products-slider" class="product-flexslider">
                                <div class="slider-items">
                                    <ul class="products-grid">
                                        @await Html.PartialAsync("~/Pages/Shared/_ProductsTopRateAndNewPartial.cshtml", Model.Laptops)
                                    </ul>
                                    <ul class="products-grid">
                                        @await Html.PartialAsync("~/Pages/Shared/_ProductsTopRateAndNewPartial.cshtml", Model.Phones)

                                    </ul>
                                    <ul class="products-grid">
                                        @await Html.PartialAsync("~/Pages/Shared/_ProductsTopRateAndNewPartial.cshtml", Model.Accessories)

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<!-- Blog -->
@*<section class="blog-post-wrapper">
        <div class="container">
            <div class="best-title text-left">
                <h2>Our Latest News</h2>
            </div>
            <div class="slider-items-products">
                <div id="latest-news-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">
                        <div class="item">
                            <div class="blog-box">
                                <a href="blog_single_post.html"> <img class="primary-img" src="~/images/client/layout/blog-img1.jpg" alt="HTML template"></a>
                                <div class="blog-btm-desc">
                                    <div class="blog-top-desc">
                                        <div class="blog-date"> 28 Jan 2017 </div>
                                        <h4><a href="blog_single_post.html">Lorem ipsum dolor sit</a></h4>
                                        <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>15 Comments</strong></a></div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, Mauris fermentum dictum.</p>
                                    <a class="read-more" href="blog_single_post.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <a href="blog_single_post.html"> <img class="primary-img" src="~/images/client/layout/blog-img1.jpg" alt="HTML template"></a>
                                <div class="blog-btm-desc">
                                    <div class="blog-top-desc">
                                        <div class="blog-date"> 18 Feb 2017 </div>
                                        <h4><a href="blog_single_post.html">Sed do eiusmod sit amet</a></h4>
                                        <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>50 Comments</strong></a></div>
                                    </div>
                                    <p> Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    <a class="read-more" href="blog_single_post.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <a href="blog_single_post.html"> <img class="primary-img" src="~/images/client/layout/blog-img1.jpg" alt="HTML template"></a>
                                <div class="blog-btm-desc">
                                    <div class="blog-top-desc">
                                        <div class="blog-date"> 5 Mar 2017 </div>
                                        <h4><a href="blog_single_post.html">Integer scelerisque diam</a></h4>
                                        <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>25 Comments</strong></a></div>
                                    </div>
                                    <p> Doloremque nam. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna.</p>
                                    <a class="read-more" href="blog_single_post.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <a href="blog_single_post.html"> <img class="primary-img" src="~/images/client/layout/blog-img1.jpg" alt="HTML template"></a>
                                <div class="blog-btm-desc">
                                    <div class="blog-top-desc">
                                        <div class="blog-date"> 5 May 2017 </div>
                                        <h4><a href="blog_single_post.html">Integer scelerisque diam</a></h4>
                                        <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>05 Comments</strong></a></div>
                                    </div>
                                    <p>Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna. Aliquam erat volutpat. </p>
                                    <a class="read-more" href="blog_single_post.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-box">
                                <a href="blog_single_post.html"> <img class="primary-img" src="~/images/client/layout/blog-img1.jpg" alt="HTML template"></a>
                                <div class="blog-btm-desc">
                                    <div class="blog-top-desc">
                                        <div class="blog-date"> 06 Aug 2017 </div>
                                        <h4><a href="blog_single_post.html">Duis ac turpis aliquam leo</a></h4>
                                        <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>25 Comments</strong></a></div>
                                    </div>
                                    <p>Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
                                    <a class="read-more" href="blog_single_post.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- our clients Slider -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="our-clients">
                    <div class="slider-items-products">
                        <div id="our-clients-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col6">
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand1.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand2.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand3.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand4.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand5.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand6.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand7.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand8.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand9.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand10.png" alt="Image"></a> </div>
                                <div class="item"><a href="#"><img src="~/images/client/layout/brand11.png" alt="Image"></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BANNER-AREA-START -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                            <div class="banner-block">
                                <a href="#"> <img src="~/images/client/layout/banner-sunglasses.jpg" alt="banner sunglasses"> </a>
                                <div class="text-des-container">
                                    <div class="text-des">
                                        <h2>Galaxy Note 5</h2>
                                        <p>Fall Phone 25% off Colorful designs!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                            <div class="banner-block">
                                <a href="#"> <img src="~/images/client/layout/banner-kids.jpg" alt="banner kids"> </a>
                                <div class="text-des-container">
                                    <div class="text-des">
                                        <h2>Music & Sound</h2>
                                        <p>For the littlest people</p>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-block">
                                <a href="#"> <img src="~/images/client/layout/banner-women.jpg" alt="banner women"> </a>
                                <div class="text-des-container">
                                    <div class="text-des">
                                        <h2>Best Quality Music</h2>
                                        <p>Modern Headphones designs shop!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                    <div class="banner-block">
                        <a href="#"> <img src="~/images/client/layout/banner-arrival.jpg" alt="banner arrival"> </a>
                        <div class="text-des-container">
                            <div class="text-des">
                                <h2>special collection</h2>
                                <p>Sale upto 50% off on selected items</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
<!-- BANNER-AREA-END -->
@*<div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <!-- Newsletter -->
                <div class="col-md-6 col-sm-6">
                    <form id="newsletter-validate-detail" method="post" action="#">
                        <h3>Đăng kí nhận khuyễn mãi</h3>
                        <div class="title-divider"><span></span></div>
                        <p class="sub-title text-center">Giảm giá đến 25%</p>
                        <div class="newsletter-inner">
                            <input class="newsletter-email" name='Email' placeholder='Nhập email của bạn' />
                            <button class="button subscribe" type="submit" title="Subscribe">Đăng kí</button>
                        </div>
                    </form>
                </div>
                <!-- Customers Box -->
                <div class="col-sm-6 col-xs-12 testimonials">
                    <div class="page-header">
                        <h2>Giới thiệu về chúng tôi</h2>
                    </div>
                    <div class="slider-items-products">
                        <div id="testimonials-slider" class="product-flexslider hidden-buttons home-testimonials">
                            <div class="slider-items slider-width-col4 ">
                                <div class="holder">
                                    <blockquote>
                                        © 2017 - Công ty Cổ Phần viễn thông Di Động Thông Minh - 119 phố Thái Thịnh, phường Thịnh Quang, quận Đống Đa, thành phố Hà Nội, Việt Nam
                                    </blockquote>
                                    <div class="thumb"> <img src="~/images/shared/avatar/87aca9df-7d73-4f10-454d-08d6c9f84ff9.jpg" alt="testimonials img"> </div>
                                    <div class="holder-info"> <strong class="name">T.V.Cong</strong> <strong class="designation">CEO, Công ty</strong></div>
                                </div>
                                <div class="holder">
                                    <blockquote>
                                        © 2017 - Công ty Cổ Phần viễn thông Di Động Thông Minh - 119 phố Thái Thịnh, phường Thịnh Quang, quận Đống Đa, thành phố Hà Nội, Việt Nam

                                    </blockquote>
                                    <div class="thumb"> <img src="~/images/shared/avatar/e3ad53c6-5be2-46db-2a7d-08d6c5692d9b.PNG" alt="testimonials img"> </div>
                                    <div class="holder-info"> <strong class="name">H.N.T.Xuan</strong> <strong class="designation">CEO, Công ty</strong> </div>
                                </div>
                                <div class="holder">
                                    <blockquote>
                                        MST:0105815899 (Số giấy chứng nhận đăng ký kinh doanh thương nhân) - Ngày cấp lần đầu: 12/03/2012
                                        Đăng ký thay đổi lần 2: 04/4/2016 - Nơi cấp: Sở kế hoạch và đầu tư thành phố Hà Nội
                                    </blockquote>
                                    <div class="thumb"> <img src="~/images/shared/avatar/87aca9df-7d73-4f10-454d-08d6c9f84ff9.jpg" alt="testimonials img"> </div>
                                    <div class="holder-info"><strong class="name">T.V.Cong</strong> <strong class="designation">CEO, Nhà báo</strong></div>
                                </div>
                                <div class="holder">
                                    <blockquote>
                                        © 2017 - Công ty Cổ Phần viễn thông Di Động Thông Minh - 119 phố Thái Thịnh, phường Thịnh Quang, quận Đống Đa, thành phố Hà Nội, Việt Nam
                                    </blockquote>
                                    <div class="thumb"> <img src="~/images/shared/avatar/e3ad53c6-5be2-46db-2a7d-08d6c5692d9b.PNG" alt="testimonials img"> </div>
                                    <div class="holder-info"> <strong class="name">H.N.T.Xuan</strong> <strong class="designation">CEO, Nhà văn</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@